{
  "view": {
    "type": "view.list",
    "items": [
      {
        "type": "view.list",
        "direction": "horizontal",
        "items": {
          "type": "helper.transform",
          "items": {
            "type": "data.input",
            "path": "images"
          },
          "into": {
            "type": "view.group",
            "content": {
              "type": "view.list",
              "label": {
                "type": "helper.sum",
                "items": [
                  {
                    "type": "data.local",
                    "path": "index"
                  },
                  1
                ]
              },
              "items": [
                {
                  "type": "view.image",
                  "maxWidth": 600,
                  "minWidth": 320,
                  "url": {
                    "type": "data.local",
                    "path": "item"
                  }
                }
              ]
            }
          }
        }
      },
      {
        "type": "field.radio-group",
        "label": "Have you seen this meme before?",
        "options": [
          {
            "label": "Yes",
            "value": "Yes"
          },
          {
            "label": "No",
            "value": "No"
          }
        ],
        "data": {
          "type": "data.output",
          "path": "isRelatable"
        },
        "validation": {
          "type": "condition.required",
          "hint": "Response required"
        }
      },
       {
        "type": "field.textarea",
        "label": "Formulate a description of the presented meme",
        "placeholder": "Enter your understanding of the meme.",
        "spellcheck": true,
        "data": {
          "type": "data.output",
          "path": "meaning"
        },
        "validation": {
          "type": "condition.all",
          "conditions": [
            {
              "type": "condition.required",
              "hint": "Must be filled"
            },
            {
              "type": "condition.schema",
              "hint": "Your description of meme based on your choice should be at least 20 characters long",
              "schema": {
                "minLength": 20,
                "type": "string"
              }
            }
          ]
        }
      },
      {
        "type": "field.checkbox-group",
        "label": "Which images do you think represent the best usage of the given meme?",
        "options": [
          {
            "label": "Image 1",
            "value": "img1"
          },
          {
            "label": "Image 2",
            "value": "img2"
          },
          {
            "label": "Image 3",
            "value": "img3"
          },
          {
            "label": "Image 4",
            "value": "img4"
          },
          {
            "label": "Image 5",
            "value": "img5"
          },
          {
            "label": "Image 6",
            "value": "img6"
          },
          {
            "label": "Image 7",
            "value": "img7"
          },
          {
            "label": "Image 8",
            "value": "img8"
          }
        ],
        "data": {
          "type": "data.output",
          "path": "result"
        },
        "validation": {
          "type": "condition.required",
          "hint": "Choose an answer"
        }
      },
      {
        "type": "field.textarea",
        "label": "How did chosen images contribute to your understanding of the meme?",
        "placeholder": "Enter your explanation",
        "spellcheck": true,
        "data": {
          "type": "data.output",
          "path": "chosenExampleDescription"
        },
        "validation": {
          "type": "condition.all",
          "conditions": [
            {
              "type": "condition.required",
              "hint": "Must be filled"
            },
            {
              "type": "condition.schema",
              "hint": "Your explanation of your choice should be at least 20 characters long",
              "schema": {
                "minLength": 20,
                "type": "string"
              }
            }
          ]
        }
      }
    ]
  },
  "plugins": [
    {
      "1": {
        "type": "action.toggle",
        "data": {
          "type": "data.output",
          "path": "result.img1"
        }
      },
      "2": {
        "type": "action.toggle",
        "data": {
          "type": "data.output",
          "path": "result.img2"
        }
      },
      "3": {
        "type": "action.toggle",
        "data": {
          "type": "data.output",
          "path": "result.img3"
        }
      },
      "4": {
        "type": "action.toggle",
        "data": {
          "type": "data.output",
          "path": "result.img4"
        }
      },
      "5": {
        "type": "action.toggle",
        "data": {
          "type": "data.output",
          "path": "result.img5"
        }
      },
      "6": {
        "type": "action.toggle",
        "data": {
          "type": "data.output",
          "path": "result.img6"
        }
      },
      "7": {
        "type": "action.toggle",
        "data": {
          "type": "data.output",
          "path": "result.img7"
        }
      },
      "8": {
        "type": "action.toggle",
        "data": {
          "type": "data.output",
          "path": "result.img8"
        }
      },
      "type": "plugin.hotkeys"
    }
  ]
}